.errors{
	white-space: normal;
    background: #fff!important;
    border: 1px solid #e0b4b4!important;
    color: #9f3a38!important;
	padding: 0.4em 0.833em;
	width: fit-content;
	border-radius: 4px;
	font-weight: bold;
	font-size: 0.9em;
}

.register_form_container{
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}
.register_form_container h4{
    color: var(--btns-color-blue);
    font-family: var(--p-alternative-font);
	margin: 0;
	margin-bottom: 2px;
}

.btn_back{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: 10px 0;
    font-family: var(--p-alternative-font);
    color: var(--btns-color-blue);
}

.page_tittle h1{
    font-family: var(--p-alternative-font);
    color: var(--secondary-color-light-blue)
}

.radio{
	height: 40px;
	width: 100%;
}

.radio div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.input_radio[type="radio"]{
	display: none;
}

.input_radio:checked + label{ /*Cuando este checkeado modifique a la etiqueta label (+)*/
	padding: 5px 10px;
	background-color: var(--btns-color-blue);
	color: #ffe109;
	border-radius: 5px;
}

.input_radio:checked + label:before{
	display: none;
}

 .radio label{
	padding: 5px 5px;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.3s ease;
}

 .radio label:hover{
	/* background-color: rgba(255, 255, 255, 0.30); */
}

 .radio label:before{
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 2px solid #ffe109;
	border-radius: 50%;
	margin-right: 5px;
	margin-bottom: -3px;

}

.LineaForm{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.LineaForm4_fnacimiento{
	width: 49%;
}

.formfield{
    padding:0 !important;
	width: max-content;
	width: 100%;
}

.dpt_expedicion{
	font-size: 1.1em;
}



.btn_registerse{
	margin: 10px auto;
	color:#ffe109;
	text-align: center;
	width: 100%;
	padding: 0.7em;
	font-family: 'Roboto', sans-serif;
	border: none;
	background-color: var(--btns-color-blue);
    border-radius: 2px;
    cursor: pointer;
}

.btn_registerse:active{
	color: #ffe109;
	background-color: var(--btns-color-blue);
}

.terminos_registro{
	color: #4183c4;
}

	.LineaForm5-id{
		width: 49%;
	}

	.ui.input input[type=text]{
		width: 45%;
	}

@media screen and (max-width: 767px) {

    .register_form_container{
        width: 100%;
    }
	.radio{
		margin-top: 0;
	}

	.LineaForm5{
		display: block;
	}

	.dpt_expedicion{
	font-size: 1.3em;
	}


	.LineaForm4_fnacimiento {
    margin-right: 15px;
	}

	.LineaForm5_id{
		width: 100%;
	}

	.ui.input input[type=text]{
		width: 85%;
	}

    .btn_registerse{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
	.LineaForm{
		display: block;
	}

	.LineaForm4_fnacimiento {
    width: 100%;
    margin-right: 15px;
	}
}