


.main_exchange_container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main_exchange_container_title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main_exchange_container .backgroundImg {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("/images/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_exchange_container_title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main_exchange_container_title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.currenciesTable_wrapper{
  max-width: 1000px;
  margin: 0 auto;
  /* overflow: scroll; */
}